<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/users_navbar' %>
    <ul class="list-unstyled">
      <% @likes.each do |micropost| %>
        <li class="media mb-3">
          <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
          <div class="media-body">
              <div>
                  <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
              </div>
              <div>
                  <p class="mb-0"><%= micropost.content %></p>
              </div>
              <div>
                <% if current_user == micropost.user %>
                  <%= link_to "Delete", micropost, method: :delete, data: {confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </div>
              <%= render 'favorites/like_button', micropost:  micropost %>
          </div>
        </li>
    <% end %>
    </ul>
  </div>
</div>